<h1>New Lecture </h1>

<%= form_with model: @lecture do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %></br>

  </div>


 <div>
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>

    
  


   <%= form.select(:student_id, Student.all.collect {|s| [ s.name, s.id ] }, 
                                           { :prompt => "Please select"}
                                           ) %>
    



  </div>



  <div>

    <%= form.label :teacher_id %>
    <%= form.text_field :teacher_id %>

  <%= form.select(:teacher_id, Teacher.all.collect {|s| [ s.name, s.id ] }, 
                                           { :prompt => "Please select"}
                                           ) %>
  </div>

  <div>
  

  
    

    <%= form.submit %>
  <% end %>
</div>