<h1>New Teacher</h1>

<%= form_with model: @teacher do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>

  </div>
  <div>
    <%= form.label :age%><br/>
    <%= form.text_field :age%>



  <div>


   <div>
    <%= form.label :subject_id%><br/>
    <%= form.text_field :subject_id%>



  <div>
    <%= form.submit %>
  </div>
<% end %>
