<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%=link_to "Photo Gallery ", root_path, class:"navbar-brand"%>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <%=link_to "New Photo",new_photo_path,class:"navbar-brand"%>   
        </li>
        <li class ="nav-item">
          <%= link_to "New Student",new_student_path,class:"navbar-brand"%></br>
        </li>

        <li class ="nav-item">
          <%= link_to "New Teacher",new_teacher_path,class:"navbar-brand"%>
        </li>

        <li class ="nav-item">
          <%=link_to "New Subject",new_subject_path,class:"navbar-brand"%></br>
        </li>

        <li class ="nav-item">
          <%=link_to "New Lecture",new_lecture_path,class:"navbar-brand"%></br>
        </li>





        <li class ="nav-item">
          <%= link_to 'Sign Out', destroy_user_session_path,class:"navbar-brand" %>
        </li>





        <li class ="nav-item">
          <%= link_to 'Sign In', new_user_session_path,class:"navbar-brand" %>
        </li>
          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>