
<h1>Photos</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>



  <tbody>
    <% @photos.each do |photo| %>
      <tr id='<%=photo.id%>' >
        <td><%= photo.abc %></td>
        <td>
        <% photo.avatars.each do|f|%>
          <%=image_tag f,style: 'height:150px;width:auto;' %>
        
        <%end%>
      </td>

        <td><%= link_to 'Show', photo_path(photo.id) %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="New Photo">

</div>